{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}
<div class="bground1" >
<div class="coverblur backdrop">
<div class="container">
  <div class="row">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-11 signgrid" >
    <p style="font-size:14px;text-align:center;color:green">Password reset successfully.</p>
    <hr size="3px" width="" color="">
    <form method="post">
      <div class="text-center">
        <p style="font-size:15px"><b>Log in to your account.</b></p>
        <a class="btn btn-outline-primary" href="{% url 'user_login' %}" style="font-weight:600;border-radius:80px;border-color:transparent;">Log in</a>
      </div>
    </form>

</div>
</div>
</div>
</div>
</div>
{% endblock content %}
