{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}
<div class="bground1" >
<div class="coverblur backdrop">
<div class="container">
  <div class="row">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-11 text-center signgrid">
      <p style="color:green;font-size:14px;">Reset link sent to your email.</p>
      <label><p><small>Did not receieved ? Write your registered email correctly, also check your spam folder and try again.</small></p>
      <small><a href="{%  url 'reset_password' %}"><b>Reset password</b></a></small></label>

</div>
</div>
</div>
</div>
</div>
{% endblock content %}
