{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}
<div class="bground1" >
<div class="coverblur backdrop">
<div class="container">
  <div class="row">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-11 signgrid" >
    <p style="text-align:center;font-size:20px;">Reset Password</p>
    <p style="font-size:14px;text-align:center">Please write the <b>registered email </b>
    which is linked to your account to reset the password.</p>
    <hr size="3px" width="" color="">
    <form method="post">
      {% csrf_token %}

      <label for="email"><b>Email</b></label>
      <input type="email" class="form-control"name="email" placeholder="Enter registered email" style="background:rgba(0,0,0,0.1);border-width:0px;font-size:14px;" required>

      <br>
      <div class="text-center">
      <input type="submit" class="btn btn-outline-dark text-center"
      href="templates/MAINAPP/password_reset_sent.html"value="Send reset link" style="font-size:14px;width:150px;border-radius:40px;">
      </div>
    </form>

</div>
</div>
</div>
</div>
</div>
{% endblock content %}
