{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}
<div class="bground1" >
<div class="coverblur backdrop">
<div class="container">
  <div class="row">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-11 signgrid" >
    <h4 style="text-align:center;font-size:20px;">Password reset</h4>
    <p style="font-size:15px;text-align:center;"><small>This action will update your existing password.</small></p>
    <hr size="3px" width="" color="">
    {% if form.errors %}
    <p style="font-size:15px;text-align:center;color:red"><small>Something went wrong.Go back and try again.Make sure password is of minimum eight characters and both fields match.</small></p>
    {% else %}
    <form  method="post">
      {% csrf_token %}

      <label for="id_new_password1" style="font-size:14px;"><b>Update new password</b><small style="color:red;font-size:11px;"> *minimum eight characters</small></label>
      <input type="password" class="form-control"name="new_password1" id="id_new_password1" placeholder="Enter new password"style="background:rgba(0,0,0,0.1);border-width:0px;font-size:14px;" required>

      <label for="id_new_password2" style="font-size:14px;"><b>Confirm new password</b></label>
      <input type="password" class="form-control"name="new_password2" id="id_new_password2" placeholder="Enter new password again" style="background:rgba(0,0,0,0.1);border-width:0px;font-size:14px;" required>
      <br>
      <div class="text-center">
      <input type="submit" class="btn btn-outline-success text-center"
      href="templates/MAINAPP/password_reset_sent.html"value="Reset" style="font-size:16px;width:100px;border-width:2px;border-radius:50px;font-weight:600">
      </div>
    </form>
{% endif %}
</div>
</div>
</div>
</div>
</div>
{% endblock content %}
