{%  extends 'MAINAPP/home.html' %}
{% load static %}
{% block content %}
<br><br><br><br><br><br>
<div class="container" shad>
<div class="col-lg-9 col-md-10 col-sm-12 col-12" style="margin-left:auto;margin-right:auto;border:1px solid #D6DBDF;padding:20px;">
<p style="text-align:center;font-size:30px;font-family:'Playfair Display', serif;">Privacy Policy</p>
<hr color="black">
<p style="font-size:13px;">Your privacy matters to us. In order to protect your privacy, we provide this documentation explaining our practices and the decision you can make about how your data is collected and used. </p>
<p style="font-size:25px;font-family:'Rasa', serif">Information we collect</p>
<p style="font-size:13px;background:#EAF2F8;padding:8px;color:grey;text-align:center;">You provide data to get connected, to receive updates or to use our services.</p>
<p style="font-size:18px;font-weight:500;"><i class="bi bi-person-plus-fill"></i> Registration / Sign up</p><hr>
<div style="font-size:13px;">
<p style="margin:5px;">To register with us you need to provide:</p>
<ol>
<li><p style="margin:1px;">Username</p></li>
<li><p style="margin:1px;">Your name</p></li>
<li><p style="margin:1px;">Email address</p></li>
<li><p style="margin:1px;">Your mobile number</p></li>
<li><p style="margin:1px;">Password</p></li>
</ol>
<p style="margin:5px;">The data is used to provide you updates / notifications / advertisements / services to your registered email and phone number. We do not give access to your password to anyone and is only confined to the registered user. You can reset your password with the help of your registered email id. We also collect the login activity of the registered users.</p>
</div>
<br>
<p style="font-size:18px;font-weight:500;"><i class="bi bi-bell-fill"></i> Subscription </p><hr>
<div style="font-size:13px;">
<p style="margin:5px;">To subscribe to us you need to provide :</p>
<ol>
<li><p style="margin:1px;">Your name</p></li>
<li><p style="margin:1px;">Email address</p></li>
</ol>
<p style="margin:5px;">The data is used to send you updates / notifications / advertisements / services to the email id which you had provided during the subscription to our website.</p>
</div>
<br>
<p style="font-size:18px;font-weight:500;"><i class="bi bi-reply-all-fill"></i> Feedback</p><hr>
<p style="font-size:13px;background:#EAF2F8;padding:8px;color:grey;text-align:center;">You feedback help us to improve, collect data of user experience or solve specific user queries.</p>

<div style="font-size:13px;">
<p style="margin:5px;">To receive your feedback we store your name and email as the identity of the respondent and may send you email to notify you about your feedback or query.</p>
</div>
<br>
<p style="font-size:25px;font-family:'Rasa', serif">Sharing Information</p>
<hr>
<div style="font-size:13px;">
<p style="margin:5px;">We share personal information/data collected through our website with third-party service providers who act for or on our behalf. We want you to understand when and with whom we may share the information we collect.</p>
<ol>
<li><p style="margin:1px;"><b>Authorized third-party member and service providers.</b>We may share your information/data with third-party vendors and service-providers that help us with specialized services, including billing, payment processing, customer service, email deployment,marketing, advertising, performance monitoring, hosting, and data processing.</p></li>
<li><p style="margin:1px;"><b>Corporate member.</b> We may share your information with our corporate affiliates that are subject to this policy.</p></li>
<li><p style="margin:1px;"><b>Legal matters.</b> We may disclose information to respond to court orders, legal process, law enforcement requests, legal claims or government inquiries, and to protect and defend the rights, interests, health, safety, and security of Pew Research Center, our affiliates, users, or the public.</p></li>
<li><p style="margin:1px;"><b>Business transfers.</b> We may share your information in connection with a substantial corporate transaction, such as the sale of a website, a merger, consolidation, asset sale, or in the unlikely event of bankruptcy.</p></li>

</ol>
</div>
<br>

<p style="text-align:center;font-size:30px;font-family:'Playfair Display', serif;">Terms of Use</p>
<hr color="black">
<p style="font-size:13px;margin:5px;">Welcome to Nosh!</p>
<p style="font-size:13px;margin:5px;">These Terms of Use govern your use of our website when you create an account or use our services as a visitor, you agree to these terms.</p>
<br>
<p style="font-size:18px;font-weight:500;"><i class="bi bi-check2"></i> Do's</p><hr>
<div style="font-size:13px;">
<p style="margin:5px;">You agree to the below terms that you will :</p>
<ol>
<li><p style="margin:1px;">Provide accurate information/data.</p></li>
<li><p style="margin:1px;">Use your original name on your profile.</p></li>
<li><p style="margin:1px;">Use the Services in an ethical manner.</p></li>
</ol>
</div>
<br>
<p style="font-size:18px;font-weight:500;"><i class="bi bi-x"></i> Don'ts</p><hr>
<div style="font-size:13px;">
<p style="margin:5px;">You agree to the below terms that you will not :</p>
<ol>
<li><p style="margin:1px;">Create a fake identity on the website/misrepresent your identity.</p></li>
<li><p style="margin:1px;">create account for anyone else other than you .</p></li>
<li><p style="margin:1px;">Send spam or unethical mail/message.</p></li>
<li><p style="margin:1px;">Copy, use or distribute any information obtained from our services, whether directly or through third parties without the consent of the organization.</p></li>
<li><p style="margin:1px;">Place false or misleading information about our website.</p></li>
<li><p style="margin:1px;">Use any deep-link, page-scrape, robot, spider or any other methodology, to access, copy or monitor any website content.</p></li>
</ol>
</div>
<br>
<div class="text-center"style="font-size:14px;font-weight:600;border:1px solid grey;padding:10px;">
<p> This is a completely project based website / non-commercial website / non-profitable website & is limited as work sample / non-commercial use / non-profitable use only. By creating an account with our website, or by using or visiting our website, you are bound to the terms of use & indicate the acceptance of the terms of use mentioned above.</p>
</div>
<br>

<p style="font-size:25px;font-family:'Rasa', serif">Contact Us</p>
<hr>
<div style="font-size:13px;">
<p style="margin:5px;">If you have any comments or questions regarding this Privacy Policy Statement or our data handling practices or terms of use you can contact us.</p>
<ol>
<li><p style="margin:1px;"><b>Email.</b> nosh.beta.version@gmail.com</p></li>
<li><p style="margin:1px;"><b>Phone.</b> +917858832086</p></li>

</ol>
</div>
<br>
</div>
</div>
<br><br>
{% endblock content %}
